body {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #5C5C5C;
}

h1 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: black
}

h2 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #D52B1E;
}

h3 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #222222;
}

h4 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #222222;
}

h5 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #959595;
}

h6 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}

label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
}

a {
  color: #D52B1E;
  transition: 200ms,
}

a:hover {
  color: #F5493D,
}

hr {
  display: block;
  border-color: transparent;
  border-width: 0;
  height: 1px;
  background-color: #D1D2D2;
  margin: 16px 0;
}

.line-chart {
  width: 180px;
  height: 20px;
  display: inline-block;
  background-color: #69F0AE;
  border-radius: 10px;
  border: 1px solid #0D47A1;
}

.hard-disk {
  height: 18px;
  background-color: #009688;
  border-radius: 10px;
}

.disk-comparison {
  display: inline-block;
}

.counter {
  display: inline-block;
  margin: 0 5px 5px 5px;
}

.counter p {
    color: grey;
    font-size: 20px;
    text-align: center;
}






/*html {
  background:#fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav .brand-logo {
  margin-left: 20px;
}

.appBar {
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.appBar h1 {
  margin-top: 0px;
}

.appBar.driveBar {
  height:300px;
}

.appBar.siteBar {
  height:170px;
}

.btn, .btn-large, .btn-flat {
  text-transform: none;
  letter-spacing: 1px;
  border-radius: 20px;
}

.btn-floating {
  border-radius: 50% !important;
}

.select {
  height: 65px;
}

.line-chart {
  width: 180px;
  height: 20px;
  display: inline-block;
  background-color: #69F0AE;
  border-radius: 10px;
  border: 1px solid #0D47A1;
}

.hard-disk {
  height: 18px;
  background-color: #009688;
  border-radius: 10px;
}

.disk-comparison {
  display: inline-block;
}

.counter {
  display: inline-block;
  margin: 0 5px 5px 5px;
}

.counter p {
    color: grey;
    font-size: 20px;
    text-align: center;
}

select {
  display: block;
}

.left-button {
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid #000;
}

.right-button {
  border-radius: 0px 20px 20px 0px;
}

.ctr-button {
  border-radius: 0px;
  border-right: 1px solid #000;
}*/