.navbar
  height: 100px
  padding: 0 10% 0 10%
  background: black
  position: fixed
  width: 80%
  display: flex

  p
    color: white

  .navbar-left
    display: flex
    margin-right: 40px
    height: 100%
    width: 100px

  .navbar-right
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100%
    width: 100%
    vertical-align: top

    div
      margin: 0 10px

