.alert-display
  width: 25%
  height: 100%
  background: lightcoral
  display: inline-block
  vertical-align: top
  position: fixed
  padding-top: 10px

.alert
  width: 90%
  margin: 5%
  border: 1px solid black
  background: lightgray
