.bin-wrap
  width: 100%
  display: inline-block

  .bin-count
    width: 100%
    background: white
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)
    margin: 0 0 20px
    display: inline-block

  .bin-info
    width: 70%
    display: inline-block
    float: left

  .bin-title
    margin: 0 0 10px

  .bin-icon
    background: #69F0AE
    width: 20%
    height: 100px
    float: left
    margin-right: 10%

  .drive-wrap
    width: 400px
    background: white
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)
    margin: 10px 10px
    height: 80px
    display: inline-block

  .icon
    background: #69F0AE
    width: 20%
    height: 80px
    float: left
    margin-right: 5%

  .info
    width: 70%
    float: left
    height: 40px
    padding: 10px 0px

    p
      font-size: 16px


    span
      color: #666666
      font-size: 12px
      display: inline-block



  table
    display: inline-block
    margin: 10px
    padding: 5px
    border: solid black 1px

    td
      text-align: center
