.line-chart
  width: 180px
  height: 20px
  display: inline-block
  background-color: #69F0AE
  border-radius: 10px

.hard-disk
  height: 20px
  background-color: #009688
  border-radius: 10px 0 0 10px

.disk-comparison
  display: inline-block

.counter
  display: inline-block
  margin: 0 5px 5px 5px

  p
    color: grey
    font-size: 12px
    text-align: center
