.manual-wrap
  width: 20%
  display: inline-block
  vertical-align: top
  background: white
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5)
  padding-bottom: 10px


  p
    background: #009688
    display: block
    width: 100%
    color: white
    font-size: 18px
    text-align: center
    padding: 15px 0
    margin-bottom: 10px


  .manual-entry
    width: 90%
    margin: 0 auto
    display: block
    height: 25px

  .submit-button
    background: #3F51B5
    border: none
    width: 90%
    height: 40px
    color: #fff
    font-size: 24px
    letter-spacing: 1px
    margin: 5%

  .select-option
    width: 90%
    margin: 10px auto 0
    display: block
    height: 25px
