.wrapper > .contentWrapper > .contentWrapperBackgroundRect {
  fill: #fafafa;
}

.wrapper > .contentWrapper .xAxis text {
  font-size: 8px;
}

.wrapper > .contentWrapper .line path {
  fill: transparent;
  stroke: #29b6f6;
  stroke-width: 2;
}

.wrapper > .contentWrapper .scatter circle {
  fill: #5c6bc0;
  stroke: #fafafa;
  stroke-width: 2;
}